<h1>Best flat</h1>
<ul>
  <% @flats.each do |flat| %>
  <li>
    <%= flat.title %>
    <%= link_to "voir", flat %>
    <%= link_to "edit", edit_flat_path(flat) %>
    <%= link_to "delete", flat_path(flat), method: :delete, data: { confirm: "are you sure ?"} %>
  </li>
  <% end %>
</ul>
<%= link_to "retour", flats_path %>
